/* *** DEFAULT BLOG TEMPLATE *** */
@font-face {
    font-family: Heebo;
    src: url(../font-pkg/heebo/Heebo-Regular_0.ttf);
}
@font-face {
    font-family: HeeboLight;
    src: url(../font-pkg/heebo/Heebo-Light_0.ttf);
}
@font-face {
    font-family: ZillaSlab;
    src: url(../font-pkg/zillaSlab/ZillaSlab-Regular.ttf);
}
#header {
    
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    height: 45vh !important;
}
#header h1 {
    color: #535353;
    font-family: 'ZillaSlab';
    font-size: 45px;
    font-weight: bold;
}