body{
background-color:#dddddd;
  background-image: url("Texture/BackGround.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  color:black;
}
div#container{
  width: 100%;
  height: 100%;
}

div#newPost
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
div#newPost textarea,form{
  width: 100%;
  margin: auto;
  font-size: 25px;
}
div#newPost input{
  margin: auto;
  width: 115px;
  height: 50px;
  font-size: 20px;
}
div#header{
  width: 100%;
  height: 200px;
  text-align: center;
  background-image: url("Texture/HeaderImage.jpg");
  background-size: 1920px 200px;
  background-repeat: no-repeat;
  font-size: 25px;
}
div#postFeed{
  width: 100%;
  margin-top: 5%;
}
div#post{
  margin-right:auto;
  margin-left:auto;
  width:65%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  font-size: 10px;
}
div#comment{
  width: 65%;
  margin-left:20% !important;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: white;
  font-size: 8px;
  color: black;
}
div#comment:nth-child(even){
  width: 65%;
  margin-left: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: gray;
  color: black;
}
