* {
    margin: 0;
    Padding: 0;
}

body {
    /* height: 100%; */
    width: 100%;
    /* /* overflow-y: hidden; */
    overflow-x: hidden;
    background-color: #dddddd;
}

.container {
    /* background-color: #535353; */
    /* color: #dddddd; */
    width: 65vw;
    height: 94.7vh;
}

.sidenav {
    position: fixed;
}

#content {
    margin-top: 5%;
}

#main {
    margin-left: 9vw;
}

#adminSideNav {
    float: left;
    width: 9vw;
    height: 100vh;
    padding-top: 50px;
    min-width: 172px;
    /* max-height: 897px; */
    /* min-height: 560px; */
    display: fixed;
    background-color: #232323;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatar {
    margin-left: auto;
    margin-right: auto;
}


/* #adminSideNav h2
{
	color: #535353;
	margin-left: 5%;
	width: 100%;
	text-align: center;
} */

#adminSideNav .row {
    margin-top: 5%;
    margin-left: 5%;
}

#adminSideNav p {
    color: #ddd;
    text-align: center;
    font-size: 18px;
}

#adminList {
    height: 50%;
}

#adminList .adminLiButton,
.btn {
    width: 100% !important;
    background-color: #232323;
    color: #ddd;
    font-family: 'HeeboLight';
    font-size: 17px;
    text-align: left;
    height: 5%;
    border-radius: 0;
}

#adminList .adminLiButton:hover,
.btn:hover {
    background-color: #ddd;
}


/* ******************************** */


/* *** "manageBlogg.php"-styles *** */


/* ******************************** */

.formDiv {
    font-size: 16px;
    color: #ddd;
    background-color: #232323;
    /* border: 2px solid #232323; */
    padding: 2%;
    border-radius: 4px;
}

.formDiv h2 {
    margin-top: 0;
}

.formDiv .btn {
    background-color: #ddd;
    color: #232323;
    width: auto;
    text-align: center;
    border-radius: 4px;
}

.formDiv .btn:hover {
    background-color: #eb2424;
    color: #ddd;
}