*
{
	margin:0;
	Padding:0;
}

body
{
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.container {
	background-color: #535353;
    height: 100vh;
    max-height: 897px;
	min-height: 560px;
	color: #dddddd;
	width:84vw;
}

#content
{
	margin-top:20%;
}

#adminSideNav
{
	float: left;
	width: 16vw;
	height: 100vh;
    max-height: 897px;
	min-height: 560px;
	display: block;
	background-color: #333333;
	overflow-y: hidden;
	overflow-x: hidden;
}

#adminSideNav h1
{
	color: #dddddd;
	margin-left: 5%;
}

#adminSideNav .row
{
	margin-top: 5%;
	margin-left: 5%;
}