*
{
	margin:0;
	Padding:0;
}

.container {
	background-color: #535353;
    height: 120vh;
    max-height: 950px;
	min-height: 560px;
	color: #dddddd;
}

.container textarea{
	color: black;
}



#content img
{
	max-width: 100px;
	max-height: 100px;
}