/* **** Main CSS containing global styling like navbar-styling, fonts
and other general websitestyles **** */
@font-face {
    font-family: Heebo;
    src: url(../font-pkg/heebo/Heebo-Regular_0.ttf);
}
@font-face {
    font-family: HeeboLight;
    src: url(../font-pkg/heebo/Heebo-Light_0.ttf);
}
@font-face {
    font-family: ZillaSlab;
    src: url(../font-pkg/zillaSlab/ZillaSlab-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
#navbarBg {
    background-color: #eb2424;
    
}
#navbarBg a {
    color: #dddddd;
    font-family: 'HeeboLight';
    font-size: 18px;
}
#navbarBg .active a {
    color: #535353;
}
.navbar-header {
    width: 25%;
}
#brand {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'ZillaSlab' !important;
    font-weight: bold;
    font-size: 30px !important;
}
.navbar{
    margin: 0;
    padding: 0;
    border: none;
}