*
{
	margin:0;
	Padding:0;
}

#haveAccount
{
	margin: auto;
	max-width:180px;
}
.container {
	background-color: #535353;
    height: 100vh;
    max-height: 897px;
	min-height: 560px;
	color: #dddddd;
}

#content
{
	margin-top:20%;
}