body{
  background-image: url("Texture/BackGround.jpg");
  background-repeat: no-repeat;
  width: 99%;
  height: auto;
background-color:#000000;
}
div#container{
  width: 100%;
  height: 100%;
}
div#newPost textarea,form{
  width: 100%;
  height: 200px;
  margin: auto;
  font-size: 25px;
}
div#newPost input{
  margin: auto;
  width: 115px;
  height: 50px;
  font-size: 20px;
}
div#header{
  width: 100%;
  height: 200px;
  text-align: center;
  background-image: url("Texture/HeaderImage.jpg");
  margin-top: -40px;
  background-size: 1920px 200px;
  background-repeat: no-repeat;
  color:White;
  font-size: 25px;
}
div#newPost{
}
div#postFeed{
  width: 80%;
  margin-top: 5%;
}
div#post{
  width: 65%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: white;
  font-size: 10px;
}
div#comment{
  width: 65%;
  margin-left: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: white;
  font-size: 8px;
}
div#comment:nth-child(even){
  width: 65%;
  margin-left: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: gray;
}